<!DOCTYPE html>
<html>
  <head>
  <title>Login</title>
  <!link href="style.css" rel=stylesheet type=text/css />
  </head>
  <body>
      <h1>Enter Credentials to login</h1>
      <form action='/verifylogin' method='POST'>
        <input name='user' type='text' placeholder="Enter your Username:" />
        <input name='pass' type='password' placeholder="Enter your Password: " />

        <button type="submit">Log in</button>
      </form>

  </body>
</html>
